
.more{
    text-decoration: none;
    transition: all 300ms;
    border-bottom: 1px solid transparent;
    display: inline-block;

    &:hover{
        color: var(--color-primary);
        border-bottom: 1px solid currentColor;
}
}
