
/////////////////
/// section ac- hero
/// /////////////
.services-hero{
    // min-height: 150vh; //  موقت   ///////
    margin-top: 8rem;
    // padding-top: 0;


    .container{
        
        .services-hero-grid{
            width: 100%;
            height: 100%;
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: 40rem 1fr;
            grid-template-columns: 1fr 1fr;
            column-gap: 3.2rem;
            row-gap: 6.4rem;

            // @include respond(desk){
            //     grid-template-columns: 35rem 1fr;
            // }
            @include respond(tab-port){
                grid-template-columns: 1fr;
            }
            
            &-texts{
                height: 100%;
                width: 80%;
                gap: .8rem;

                //  @include respond(tab-port){
                //     width: 700%;
                // }

                .heading-1{
                    margin-bottom: 1rem;
                    line-height: 1.6;
                }
                
                .paragraph{
                    color: var(--text-color-primary);
                    margin-bottom: 1rem;
                }
                
                a{
                    margin-top: auto;
                    margin-bottom: .8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    .star-plus-icon{
                        background-color: #fff ;
                        height: 2.5rem;
                        width: 2.97rem;
                        mask: url(../assets/icons/services-air-conditioner/star-plus-icon.png);
                        mask-size: contain;
                        -webkit-mask:url(../assets/icons/services-air-conditioner/star-plus-icon.png);
                        -webkit-mask-size: contain;
                        mask-repeat: no-repeat;
                    }
                    p{
                        font-size: 1.5rem;
                    }
                    &:hover{
                        .star-plus-icon{
                            background-color: rgb(14, 19, 32);
                        }
                    }
                }
                
                &-subscripts{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: .8rem;
                    color: var(--text-color-p);

                    @include respond(desk){
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                    }

                    @include respond(tab-port){
                        flex-direction: row;
                        align-items: center;
                        justify-content: start;
                    }
                    
                    &-dot{
                        height: 0;
                        width: 0;
                        border: 3px solid var(--text-color-subscript);
                        border-radius: 50%;
                    }
                    
                    &-subscript{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: .4rem;
                        
                        
                        img{
                            height: 1.6rem;
                        }
                        
                    }
                }
            }

            &-imgWrapper{
                height: 100%;
                width: 100%;
                border-radius: var(--border-radius-10);
                overflow: hidden;
                display: flex;
                max-height: 70vh;
                align-items: center;

                picture {
                    height: 100%;
                    width: 100%;
                    display: flex;
                }

                picture img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                    border-radius: var(--border-radius-10); // اینجا اعمال کن
                    display: block;
                }
            }

            &-features{
                grid-column: 1/3;
                grid-row: 2;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 3.2rem;

                @include respond(tab-port){
                    grid-column: 1;
                    grid-row: 3;
                }
                @include respond(phone-narrow){
                    grid-template-columns: repeat(2, 1fr);
                }
                
                &-feature{
                    display: flex;
                    align-items: start;
                    justify-content: flex-start;
                    gap: 1.6rem;

                    @include respond(tab-port){
                        flex-direction: column;
                    }

                    img{
                        width: 4rem;
                        height: 4rem;
                        padding: .5rem;
                        background-color: #F4EFFB;
                        border: 1px solid var(--color-primary);
                        border-radius: var(--border-radius-10);
                    }
                }
            }
        }
    }
}


/////////////////
/// section ac-cities
/// /////////////
.ac-cities{
    background-color: #fff;
    
    .paragraph{
        margin-bottom: var(--margin-bottom-higher32);
    }

    .vertical-central-flex{
        gap: .8rem;
    }


    &-wrapper{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;


        svg{
            width: 100%;

            path{
                fill: var(--color-bg-article-1); // clشss="city-path" رو حذف کن تا این رنگ اعمال بشه
            }

            .city-path{
                fill: #d9dde0;
                cursor: pointer;
                transition: all 300ms;

                &:hover{
                    fill: var(--color-primary);
                }
            }
        }
        
        .city-name{
            text-align:center;
            margin-top: 1.6rem;
            height:3rem;
        }
    }
}

/////////////////
/// section ac-services
/// /////////////
.services-services{
    
    .container{
        gap: .8rem;

        > .paragraph{
            color: var(--text-color-primary);
            margin-bottom: var(--margin-bottom-higher32);
        }

        .services-services-grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3.2rem;

            @include respond(tab-port){  
                grid-template-columns: 1fr 1fr;
            }
            @include respond(phone){  
                grid-template-columns: 1fr;
            }

            &-service{
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: flex-start;
                gap: .8rem;
                text-align: right;

                img{
                    width: 4rem;
                    height: 4rem;
                    padding: .5rem;
                    border-radius: var(--border-radius-10);
                    margin-bottom: .8rem;
                }

            }
        }
    }
}



/////////////////
/// section ac-models
/// /////////////
.ac-models{
    background-color: #fff;
    
    .paragraph{
        margin-bottom: var(--margin-bottom-higher32);
    }

    .vertical-central-flex{
        gap: .8rem;
    }


    &-wrapper{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        
        &::before{
            content: "";
            height: 100%;
            background-image: linear-gradient(to left, #fff 0%, transparent 45%, transparent 55%, #fff 100% );
            position: absolute;
            right: 0;
            left: 0;
            z-index: 10;
        }
        
        &-models{
            display:flex ;
            align-items: center;
            gap: 4.8rem;
            justify-content: left;
    
            animation: brands-slider 20s linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            .heading-3{
                white-space: nowrap;
            }
        }
    }

}



/////////////////
/// section ac-pricing
/// /////////////
.ac-pricing{
    background-color: #fff;
    
    .paragraph{
        margin-bottom: var(--margin-bottom-higher32);
    }

    .vertical-central-flex{
        gap: .8rem;
    }
    &-wrapper {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        &-table {
            width: 70%;
            border-collapse: collapse;
            direction: rtl;
            font-family: inherit;
            background-color: #fff;
            border-radius: var(--border-radius-10);
            overflow: hidden;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);

            thead {
                background-color: #d9dde0;
                text-align: center;

                th {
                    padding: 1rem;
                    border-bottom: 1px solid #e5e7eb;
                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid #f1f1f1;

                    &:nth-child(even) {
                        background-color: var(--color-bg-article-1);
                    }

                    td {
                        padding: 1rem;

                        &:nth-child(1),
                        &:nth-child(2){
                            text-align: right;
                        }
                    }
                }
            }

            @include respond(tab-port){
                width: 100%;
            }
        }
    }

}


///section ac-cta
/// 
.ac-cta{    
    max-width: 153rem;
    min-height: 100vh;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: var(--color-bg-1);
 

    &-grid{
        position: relative;
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-content: start;
        align-items: start;
        gap: 4.8rem;
        overflow: visible;
        
        @include respond(desk){ 
            grid-template-columns: 1fr;
        }

        &-right{
            width: 100%;
            gap: .8rem;
            padding-bottom: 2rem;
            background-color: var(--color-bg-1);
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
                    
            @include respond(desk){ 
                grid-row: 2;
                // padding-top: 2rem;
                align-items: center;
                text-align: center;
            }


            .heading-2{
                color: var(--color-nearly-white);
                margin-bottom: 2.4rem;
                line-height: 1.6;

                @include respond(phone-narrow){ 
                    top: 5rem;
                    margin-bottom: 1.6rem;
                }
            }

        }

        &-left{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 3.2rem;
            width: 100%;
            
            @include respond(desk){ 
                grid-row: 1;
            }

            &-service{  /////// مربوط به پیج های خدمات
                width: 100%;
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 1.6rem;
                align-items: end;
                overflow: hidden;
                padding: 1.6rem;
                border: 1px solid #fff;
                cursor: pointer;
                text-decoration: none;
                color: inherit;
                border-radius: var(--border-radius-10);
                border: var(--border-testimonial-1);
                transition: all 300ms;

                @include respond(phone){ 
                    grid-template-columns: 1fr;
                    justify-content: center;
                    justify-items: center;
                    text-align: center;
                    box-shadow: 0px 8px 17px -13px rgba(0, 0, 0, 0.41);
                }
                
                &:hover{
                    border: var(--border-testimonial-2);
                    box-shadow: 0px 8px 17px -13px rgba(0, 0, 0, 0.41);
                }

                img{
                    align-self: center;
                    object-fit: cover;
                    height: 30vh;
                    border-radius: var(--border-radius-10);

                }
                &-texts{
                    height: 100%;
                    display: flex;
                    grid-area: .8rem;
                    flex-direction: column;
                    justify-content: flex-end;
                    max-width: 50rem;

                }
            }
        }
    }
    
}


//////////////////////////
/// ///////////////////
/// seperated
.ac-hero{

    background-image: radial-gradient(circle farthest-corner at 125% 100%,
    #fff 19%, #fff0 41%), linear-gradient(38deg, #fff0 78%, #ffffffb0),
    linear-gradient(45deg, #fff 10%, #fff0 22%), linear-gradient(0deg, #fff,
    #fff0 91%), radial-gradient(circle farthest-corner at 0 -50%, #fff0 15%,
    #70cfff96 38%, #fff0 65%), repeating-linear-gradient(214deg, #fff0,
    #614cff4d 25%, #fff0 71%), repeating-linear-gradient(212deg, #fff0 51%,
    #7c14fc3b 64%, #fff0 80%);
}
 
.refrigerator-hero{
    background-image: radial-gradient(circle farthest-corner at
     125% 100%, #fff 19%, #fff0 41%), linear-gradient(38deg,
      #fff0 78%, #ffffffb0), linear-gradient(45deg, #fff 
      10%, #fff0 22%), linear-gradient(0deg, #fff, #fff0 
      91%), radial-gradient(circle farthest-corner at 0 -50%,
       #fff0 15%, #ffc3f666 38%, #fff0 65%), 
       repeating-linear-gradient(214deg, #fff0, #5000f14d 
       25%, #fff0 71%), repeating-linear-gradient(212deg,
        #fff0 51%, #fb4aba55 64%, #fff0 80%);

}

.ac-services{
    background-color: rgb(239 246 255);

    .services-services-grid-service img{
        background-color: #EFF6FF;
        border: 1px solid  #1472FF;
    }
}

.refrigerator-services{
   background-color: rgb(255 227 245);

    .services-services-grid-service img{
        background-color: #FFF4FB;
        border: 1px solid  #BE328E;
    }
}